header{
  background-color: rgb(46, 11, 47);
  color: white;
   height:"500px";
  background-image: url("download.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-position: center;

}
h1{
  color: #fff;
  padding-top: 100px;
  text-align: center;
}
.topNav{
  margin-top: 200px;
}
.topNav ul{
  margin: 0 auto;
  color: #fff;
  list-style: none;
  padding-left: 0;
}
.topNav ul a{
  display: block;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  background-color: #3e1c55;
  padding: 5px 10px;
}
main{
  width: 95%;
  margin: 50px auto;
}
.mk_img{
  width: 100%;
}
.flex{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex img{
  width: 300px;
  margin: 0 auto;
}
.flex-reversse-mb{
  flex-direction: column-reverse;
}
.flex div{
  width: 250px;
  margin: 0 auto;
}
.creeper{
  display: none;
}
@media screen and (min-width: 980px) {
  main{
    width: 960px;
    margin: 50px auto;
  }
  .flex{
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
  }
  .flex img{
    width: 300px;
    margin: 0;
  }
  .flex div{
    margin: 0;
  }
  h1{
    padding-top: 30px;
    text-align: center;
  }
  .topNav ul{
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
    color: #fff;
    list-style: none;
  }
  .topNav ul a{
    display: inline;
    width: auto;
    color: #ffffff;
    text-decoration: none;
    background-color: #3e1c55;
    padding: 10px 15px;
    transition: all 0.5s ease-in-out;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.8); 
  } 
  
  .topNav ul :hover{
    color: #ffffff;
    background-color:#3e1c55;
    box-shadow: none;
  }
  .creeper{
    display: block;
    width: 60px;
    position: absolute;
    top: 350px;
    left: calc(50% + 200px);
    animation: upandDown 2s ease infinite alternate;
  }
}
  
section h4{
  text-align: center;
  margin-top:32px;
  font-size: 24px;
  margin-bottom: 20px;
}
footer{
  background-color: gray;
  padding: 30px;
  text-align: center;
}

@keyframes upandDown{
  0%{
    transform: translateY(-30px)
  }
  
  100%{
    transform: translateY(30px)
  }
}
